@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&family=Roboto+Mono:wght@500&display=swap');

body {
    background-color: #2B4D59;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 1em 10%;
}

a {
    text-decoration: none;
    color: #fa9a91;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
}

section, footer {
    border-top: 1px solid #fbb0a9;
    margin: 2em 0;
}

h2 {
    font-size: 1.5rem;
    padding: 0.5em 0;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
}

hr {
    border: 2px dotted white;
    border-top: none;
    margin-top: 2em;
    width: 95%;
}

.content {
    margin-bottom: 1em;

}

.row {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
}

.container {
    position: relative;
  }

  .caption {
    align-self: center;
    max-width: 300em;
 
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #4d4d4d;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  .link {
      margin-top: 1em;
  }


footer {
    font-size: 0.9em;
    padding: 1em 0;
    text-align: center;
}

/* When screen size is over 768px */
@media (min-width: 768px) {
    .content, .caption {
      width: 50%;
    }
    .container {
        max-width: 30em;
    }
    .row {
        flex-wrap: nowrap;
  }
}